<header>
  <h1 id="api-name">Local Weather Backend API</h1>
  <p>Created by <a href="https://autumnchris.github.io/portfolio" target="_blank">Autumn Bullard</a> &copy; <%= new Date().getFullYear() %></p>
  <div class="api-description">
    <p>An API that calls the relevant external APIs needed to run a front-end Local Weather App.</p>
    <p>View the <a href="https://github.com/autumnchris/local-weather-backend" target="_blank" id="src-link" aria-labelledby="api-name src-link">source code</a> for this project.</p>
  </div>
  <hr />
</header>